---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import Calculator from '../components/Calculator.astro';
import ProcessSection from '../components/ProcessSection.astro';
import FounderSection from '../components/FounderSection.astro';
import ComparisonTable from '../components/ComparisonTable.astro';
import ConsultingSection from '../components/ConsultingSection.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
    <Navbar />

    <div class="container">
        <HeroSection />
        <Calculator />
        <ProcessSection />
        <FounderSection />
        <ComparisonTable />
        <ConsultingSection />
        <ContactForm />
        <Footer />
    </div>
</Layout>
